<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<!-- namespace : 해당 mapper 파일의 고유한 별칭 -->
<mapper namespace="memberMapper">
	<resultMap type="Member" id="memberResultSet">
		<!--  <result column = "테이블 컬럼명" property="객체의 필드명"/>	-->
		<result column="MEM_ID" property="memId" />
		<result column="MEM_PWD" property="memPwd" />
		<result column="MEM_NAME" property="memName" />
		<result column="PHONE" property="phone" />
		<result column="ADDRESS" property="address" />
		<result column="MEM_NO" property="memNo" />
		<result column="EMAIL" property="email" />
		<result column="DATE_YN" property="dateYn" />
		<result column="GRADE" property="grade" />
	</resultMap>
  <!-- 
  		*SELECT문 전송시
  			<select id="각 sql문의 식별자" [parameterType="전달받을 자바타입"] resultMap="결과 객체" | resultType="결과 타입">
  			</select>
   -->
  <update id="updateMember" parameterType="Member" resultMap="memberResultSet">
  	UPDATE MEMBER 
  	SET mem_name = #{memName},
        phone = #{phone},
        address = #{address},
        mem_no = #{memNo},
        email = #{email}
    WHERE mem_id = #{memId}
  </update>
</mapper>