<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>practice</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>myPageLoginSessionTest</servlet-name>
    <servlet-class>myPage.myPageLoginSessionTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>myPageLoginSessionTest</servlet-name>
    <url-pattern>/myPageTest.me</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>board.bo</display-name>
    <servlet-name>board.bo</servlet-name>
    <servlet-class>board.BoardListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>board.bo</servlet-name>
    <url-pattern>/board.bo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>board_create.bd</display-name>
    <servlet-name>board_create.bd</servlet-name>
    <servlet-class>board.BoardCreateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>board_create.bd</servlet-name>
    <url-pattern>/board_create.bd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>update.me</display-name>
    <servlet-name>update.me</servlet-name>
    <servlet-class>myPage.myPageUpdateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>update.me</servlet-name>
    <url-pattern>/update.me</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updatePwd.me</display-name>
    <servlet-name>updatePwd.me</servlet-name>
    <servlet-class>myPage.myPagePwdChangeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updatePwd.me</servlet-name>
    <url-pattern>/updatePwd.me</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>delete.me</display-name>
    <servlet-name>delete.me</servlet-name>
    <servlet-class>myPage.myPageDeleteMember</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delete.me</servlet-name>
    <url-pattern>/delete.me</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>myPageMyBoard</display-name>
    <servlet-name>myPageMyBoard</servlet-name>
    <servlet-class>myPage.myPageMyBoard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>myPageMyBoard</servlet-name>
    <url-pattern>/myPageMyBoard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>detail.bo</display-name>
    <servlet-name>detail.bo</servlet-name>
    <servlet-class>board.BoardDetailController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>detail.bo</servlet-name>
    <url-pattern>/detail.bo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteBoard.bo</display-name>
    <servlet-name>deleteBoard.bo</servlet-name>
    <servlet-class>board.BoardDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteBoard.bo</servlet-name>
    <url-pattern>/deleteBoard.bo</url-pattern>
  </servlet-mapping>
</web-app>